.fp{
    width: 75%;
    margin-left: 12%;
}

/*.fp > h1{*/
/*    padding-top: 7%;*/
/*}*/

.fp > .about-title{
    padding-top: 5%;
}
.fp2{
    width: 75%;
    margin-left: 12%;
}

.about-text{
    text-align: center;
    width: 75%;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 2%;
}
